# Configurações de atributos Git
* text=auto eol=lf

# Arquivos JavaScript
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf

# Arquivos Java
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf

# Arquivos de documentação
*.md text eol=lf
*.feature text eol=lf

# Arquivos de configuração
.gitignore text eol=lf
.gitattributes text eol=lf

# Arquivos binários
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.jar binary
